@charset "UFT-8";

body{
    background-color:  hsl(0, 0%, 100%);
}

#fundo{
    background-color: hsl(0, 0%, 100%);
    width: 100vw;
    height: 100vh;
    
}

h1, h2{

}
ul, ol{
    text-align: left;
    font-size: 13px;
}