@media screen and (min-width: 144px) {
    body{
        text-align: center;
        background-color: salmon;
    }
    div{
        text-align: center;
        background-color: white;
        width: 400px;
        height: 700px;
        border-radius: 100px;
        background-position: center center;
    }
}
@media screen and (min-width: 768px) {
    body{
        text-align: center;
        background-color: salmon;
    }
    div{
        background-color: white;
        width: 1000px;
        height: 700px;
        border-radius: 100px;
    }
}